%h1
  = github_repository.github_full_name
  = '('
  = link_to 'Github', github_repository.github_url, target: '_blank'
  = ')'

- if github_repository.checklists.any?
  %table.table.repository-checklists
    %thead
      %tr
        %th Checklist
    %tbody
    - github_repository.checklists.each do |c|
      %tr
        %td= link_to c.name, checklist_url(c)

= link_to '[ + ] New Checklist', new_checklist_path(github_repository_id: github_repository.id)
