= form_for checklist, html: {class: 'form-horizontal'} do |f|
  - if checklist.errors.any?
    #error_explanation
      %h2= "#{pluralize(checklist.errors.count, "error")} prohibited this checklist from being saved:"
      %ul
        - checklist.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :github_repository_id, class: 'control-label col-sm-2'
    .col-sm-6
      = f.select :github_repository_id, current_user.accessible_github_repositories.select_options, {include_blank: true}, class: 'form-control'
  .form-group
    = f.label :name, class: 'control-label col-sm-2'
    .col-sm-6
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :with_file_matching_pattern, "Only when at least one changed file path matches this pattern (regexp)", class: 'control-label col-sm-2'
    .col-sm-6
      = f.text_field :with_file_matching_pattern, class: 'form-control'
  .form-group
    .col-sm-2
    .col-sm-6
      .actions
        = f.submit 'Save', class: 'btn btn-primary btn-sm'
