%div{'ng-controller' => 'Checklist', 'ng-init' => "setChecklist(#{checklist.to_json})"}
  %h3= link_to '{{ github_repository_full_name }}', '{{ repository_path }}'
  %h3= '{{ name }}'

  .row
    .col-xs-10
      = link_to 'Edit', '{{ edit_path }}'
      \|
      = link_to 'Back', '{{ index_path }}'

  = render 'checklist_items', checklist: checklist
