%p#notice= notice

%h1
  = link_to checklist.github_repository.github_full_name, checklist.github_repository.github_url, target: '_blank'
  = "/"
  = checklist.name

= render 'checklist_items', checklist: checklist

= link_to 'Edit', edit_checklist_path(checklist)
\|
= link_to 'Back', checklists_path
