%p#notice= notice

%h3= link_to checklist.github_repository.github_full_name, github_repository_path(checklist.github_repository)
%h3= checklist.name

.row
  .col-xs-10
    = link_to 'Edit', edit_checklist_path(checklist)
    \|
    = link_to 'Back', checklists_path

= render 'checklist_items', checklist: checklist
